<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<% if @pagina.titulo == "Sobre" %>
  <header class="intro-header" style="background-image: url(<%= request.protocol %><%= request.host_with_port %>/assets/about-bg.jpg)">
<% else %>
  <header class="intro-header" style="background-image: url(<%= request.protocol %><%= request.host_with_port %>/assets/paginas.jpg)">
<% end %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1><%= @pagina.titulo %></h1>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%= @pagina.conteudo %>
      </div>
    </div>
  </div>
</article>
