  <% @posts.each do |post| %>
    <h2 class="headline-large">
      <%= link_to "#{ post.titulo }", post_path(post) %>
    </h2>
    <p class="headline lead">
    by <%= post.user.name %>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> <%= post.created_at %> </p>
    <hr>
    <p class="conteudo"><%= truncate_html(post.texto.html_safe) %></p>
    <%= link_to post_path(post), class: "btn btn-primary" do %>
      Mais...<span class="glyphicon glyphicon-chevron-right"></span>
    <% end %>
    <hr>
  <% end %>
  <%= will_paginate @posts %>
