<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= request.protocol %><%= request.host_with_port %>/assets/home-bg.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>RFDev</h1>
          <hr class="small">
          <span class="subheading">Programação, Linux e outros.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<% @posts.order('id desc').each do |post| %>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
          <%= link_to(post) do %>
            <h2 class="post-title">
              <%= post.titulo %>
            </h2>
            <h3 class="post-subtitle">
              <%= post.subtitulo %>
            </h3>
          <% end %>
          <p class="post-meta">Postado por <%= post.user.name %> em <%= post.created_at %></p>
        </div>
        <hr>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
      <div class="digg_pagination">
        <%= will_paginate @posts, :container => false %>
      </div>
    </div>
  </div>
</div>
