  <% @posts.each do |post| %>
    <h2>
      <a href="#"><%= post.titulo %></a>
    </h2>
    <p class="lead">
    by <%= post.user.name %>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> <%= post.created_at %> </p>
    <hr>
    <p><%= post.texto.html_safe %></p>
    <a class="btn btn-primary" href="#">Mais...<span class="glyphicon glyphicon-chevron-right"></span></a>

    <hr>
  <% end %>
  <%= will_paginate @posts %>
