<% @posts.each do |post| %>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
          <%= link_to(post) do %>
            <h2 class="post-title">
              <%= post.titulo %>
            </h2>
            <h3 class="post-subtitle">
              <%= post.subtitulo %>
            </h3>
          <% end %>
          <p class="post-meta">Postado por <%= post.user.name %> em <%= post.created_at %></p>
        </div>
        <hr>
      </div>
    </div>
  </div>
<% end %>
<!-- Pager -->
<!--<ul class="pager">
  <li class="next">
  <a href="#">Older Posts &rarr;</a>
  </li>
</ul>-->
<%= will_paginate @posts %>
